GOOGLE_CLIENT_ID=840842887882-h2edsfqplgq7t5h7vbgn7ttak87klpno.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
SESSION_SECRET=replace-with-a-long-random-secret
MONGODB_URI=mongodb+srv://AdmissionDept:GRCadmission123@oeems-db.sqsub7g.mongodb.net/?appName=OEEMS-DB